.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 50px;
  margin-top: 20px;
  background-color: rgb(253, 249, 245);
}
.services-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.services-header p{
  font-size: 15px;
  color: rgb(158, 138, 120);
}
.services-header h4{
  font-size: 30px;
  color: rgb(116, 83, 55);
}
.services{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}
.service{
  display: flex;
  max-width: 250px;
  flex: 1 1 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  height: 230px;
  padding: 0 40px;
  box-shadow: 0 0 2px rgb(190, 190, 190);
  border-radius: 5px;
}
.service img{
  width: 50px;
}
.service h3{
  font-size: 20px;
  color: rgb(85, 85, 85);
  text-align: center;
}
.service summary{
  text-align: center;
  font-size: 13px;
  color: rgb(58, 58, 58);
}

/* Media Query */
@media screen and (max-width: 820px) {
.services-container{
  gap: 40px;
  padding: 40px 20px;
}
.services{
  gap: 20px;
  margin-top: 15px;
}
.service{
  max-width: 240px;
  flex: 1 1 240px;
}
.service h3{
  font-size: 17px;
}
.service summary{
  font-size: 11px;
}
}