.main-container{
  flex: 1;
  min-height: 100dvh;
}

/* Slider Section */

.slide-container{
  width: 100%;
  height: auto;
  overflow: visible;
  position: relative;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before{
  font-size: 30px;
}
.slick-slider .slick-prev{
  left: 25px;
  z-index: 1;
}
.slick-slider .slick-next{
  right: 25px;
  z-index: 1;
}
.slick-slider .slick-dots{
  bottom: 25px !important;
  left: 0;
  right: 0;
}
.slick-slider .slick-dots li button::before{
  font-size: 10px;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
}
.slide{
  min-width: 100%;
  width: 100%;
  height: 100dvh;
  position: relative;
}
.slide img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  filter:brightness(30%);
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  transform: translateY(100px);
  opacity: 0;
  width: 730px;
  position: absolute;
  padding: 0 7%;
  color: white;
  z-index: 1;
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
}

.text-container.active {
  opacity: 1;
  transform: translateY(-50%);
}

.text-container p{
  font-size: 20px;
  color: rgb(207, 207, 207);
}
.text-container h3{
  font-size: 50px;
  color: rgb(218, 217, 217);
}
.text-container button{
  width: 200px;
  border: none;
  padding: 13px 5px;
  font-size: 19px;
  border-radius: 5px;
  background-color: rgba(53, 15, 15, 0.842);
  color: white;
  margin-top: 15px;
  cursor: pointer;
}

/* Barber Section */

.barber-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 50px;
  margin-top: 50px;
  background-color: rgb(253, 249, 245);
}
.barber-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.barber-header p{
  font-size: 15px;
  color: rgb(158, 138, 120);
}
.barber-header h4{
  font-size: 30px;
  color: rgb(116, 83, 55);
}
.barber{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  position: relative;
  overflow-y: hidden;
}
.barber img{
  width: 250px;
  height: 300px;
}
.barber-info{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: rgb(27, 27, 27, 0.95);
  padding: 20px 10px;
  bottom: -100%;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in;
}
.barber-info h3{
  color: white;
}
.barber-info p{
  color: rgb(163, 163, 163);
}
.barber:hover .barber-info{
  bottom: 0;
}

/* Testimonial Section */

.testimonial-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 220, 196);
  background-image: url(../assets/img/testimonial.jpg);
  background-color: rgba(0, 0, 0, 0.95);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}
.testimonial-container .text-slider{
  text-align: center;
  color: white;
  width: 100%;
  font-size: 30px;
}
.testimonial-container .text-slider div{
  padding: 0 20px;
}
.testimonial-container .slick-dots{
  bottom: -30px !important;
  left: 0;
  right: 0;
}

/* Price Section */

.price-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  margin-top: 50px;
  background-color: rgb(252, 252, 249);
  z-index: 2;
}
.price-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.price-header p{
  font-size: 15px;
  color: rgb(158, 138, 120);
}
.price-header h4{
  font-size: 30px;
  color: rgb(116, 83, 55);
}
.prices{
  display: flex;
  align-items: center;
  gap: 100px;
}
.prices .price{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.price .service-title{
  background-color: #9e8a78;
  padding: 5px;
  width: 120px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.price .price-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price .price-info h3{
  width: 200px;
}

/* Recommend Kingzcut */

.recommend-kingzcut{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 230px;
  margin-bottom: 250px;
}
.recommend-kingzcut::before{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  background-image: url('../assets/img/cta.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.recommend{
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  color: white;
}
.recommend h4{
  font-size: 40px;
  text-align: center;
  line-height: 55px;
}
.recommend .appointment-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommend button{
  background-color: #9e8a78;
  width: 200px;
  border: none;
  padding: 13px 5px;
  font-size: 19px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
}

/* CEO of KingzCut */

.ceo-dev-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 50px;
  margin-top: 50px;
  background-color: rgb(253, 249, 245);
}
.ceo-dev-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.ceo-dev-header p{
  font-size: 15px;
  color: rgb(158, 138, 120);
}
.ceo-dev-header h4{
  font-size: 30px;
  color: rgb(116, 83, 55);
}
.ceo-dev-content{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.ceo-kingzcut,
.dev-kingzcut{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  position: relative;
  overflow-y: hidden;
}
.ceo-kingzcut img,
.dev-kingzcut img{
  width: 250px;
  height: 300px;
}
.ceo-info,
.dev-info{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: rgb(27, 27, 27, 0.95);
  padding: 20px 10px;
  bottom: -100%;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.2s ease-in;
}
.ceo-info h3,
.dev-info h3{
  color: white;
}
.ceo-info p,
.dev-info p{
  color: rgb(163, 163, 163);
}
.ceo-kingzcut:hover .ceo-info,
.dev-kingzcut:hover .dev-info{
  bottom: 0;
}

/* Media Query */
@media screen and (max-width: 912px) {
.text-container {
  gap: 25px;
  top: 50%;
  width: 750px;
  padding: 0 15%;
  color: white;
}
.text-container h3{
  font-size: 40px;
}
.text-container button{
  width: 300px;
  padding: 20px 5px;
  font-size: 19px;
  border-radius: 10px;
  background-color: rgba(53, 15, 15, 0.952);
}
.price-container{
  gap: 30px;
}
.prices{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  width: 90%;
  margin: 0 auto;
}
.prices .price{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.price .service-title{
  background-color: #9e8a78;
  padding: 15px;
  width: 100%;
}
.price .price-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(247, 246, 246) 1px);
  padding: 10px;
}
}

@media screen and (max-width: 540px) {
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before{
  font-size: 20px;
  display: none;
}
.text-container {
  width: 430px;
  padding: 0 7%;
}
.text-container p{
  font-size: 15px;
}
.text-container h3{
  font-size: 35px;
}
.text-container summary{
  font-size: 10px;
}
.text-container button{
  width: 200px;
  padding: 15px 5px;
  font-size: 19px;
  border-radius: 10px;
  background-color: rgba(53, 15, 15, 0.952);
}
.testimonial-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 220, 196);
  background-image: url(../assets/img/testimonial.jpg);
  background-color: rgba(0, 0, 0, 0.95);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.testimonial-container .text-slider{
  text-align: center;
  color: white;
  width: 100%;
  padding: 0 40px;
  font-size: 20px;
}
.testimonial-container .text-slider div{
  padding: 0px;
}
.price-container{
  padding: 10px;
  gap: 30px;
}
.prices{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  width: 90%;
  margin: 0 auto;
}
.prices .price{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.price .service-title{
  background-color: #9e8a78;
  padding: 15px;
  width: 100%;
}
.price .price-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(247, 246, 246) 1px);
  padding: 10px;
}
.recommend h4{
  font-size: 30px;
}
.recommend .appointment-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommend button{
  background-color: #9e8a78;
  width: 200px;
  border: none;
  padding: 13px 5px;
  font-size: 19px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
}
.ceo-dev-header h4{
  font-size: 20px;
}
.ceo-dev-content{
  display: flex;
  flex-direction: column;
}
}

@media screen and (max-width: 390px) {
.price-container{
  padding: 10px;
}
.text-container {
  width: 380px;
}
.text-container p{
  font-size: 15px;
}
.text-container h3{
  font-size: 30px;
}
}
@media screen and (max-width: 360px) {
.text-container {
  width: 350px;
}
.testimonial-container .text-slider{
  padding: 0 30px;
}
}