.contact-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.contact-infomation{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-us-container{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  padding: 30px 50px;
  margin-top: 20px;
  background-color: rgb(252, 252, 252);
}
.contact-text{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-text h3{
  font-size: 35px;
  color: #2e2e2e;
}
.contact-text p{
  font-size: 15px;
  color: #4b4b4b;
  line-height: 20px;
}
.contact-form{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(243, 240, 240);
}
.name-email-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
.name-email-container input{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgb(207, 202, 202);
}
.name-email-container input:focus{
  outline: none;
}
.contact-form textarea{
  width: 100%;
  height: 200px;
  font-size: 19px;
  padding: 10px;
  border: 1px solid rgb(207, 202, 202);
  overflow: scroll;
  scrollbar-width: none;
}
.contact-form textarea:focus{
  outline: none;
}
.contact-form button{
  background-color: #9e8a78;
  width: 150px;
  color: white;
  padding: 9px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

/* media query */

@media screen and (max-width: 700px) {
.contact-us-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
}
.contact-text h3{
  font-size: 30px;
}
.contact-text p{
  font-size: 11px;
  color: #4b4b4b;
  line-height: 20px;
}
.contact-form{
  padding: 0px;
}
.name-email-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.name-email-container input{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgb(207, 202, 202);
}
.name-email-container input:focus{
  outline: none;
}
.contact-form textarea{
  width: 100%;
  height: 200px;
  font-size: 19px;
  padding: 10px;
  border: 1px solid rgb(207, 202, 202);
  overflow: scroll;
  scrollbar-width: none;
}
.contact-form textarea:focus{
  outline: none;
}
.contact-form button{
  background-color: #9e8a78;
  width: 150px;
  color: white;
  padding: 9px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
}