.blogs-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px 30px;
  z-index: 2;
}
.blogs-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.blogs-header p{
  font-size: 20px;
  color: rgb(158, 138, 120);
}
.blogs-header h4{
  font-size: 30px;
  color: rgb(116, 83, 55);
  line-height: 40px;
}
.blogs-post{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
}
.post{
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 1 300px;
  max-width: 300px;
  width: 100%;
  margin-top: 20px;
}
.post .post-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.post .post-image img{
  width: 100%;
}
.post .post-image img:hover{
  filter: grayscale(100%);
}
.post-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 190px;
  text-overflow: ellipsis;
}
.post h1{
  font-size: 25px;
  color: rgb(49, 49, 49);
}
.post summary{
  font-size: 15px;
  height: 70px;
  text-overflow: ellipsis;
  color: rgb(82, 82, 82);
}
.post a{
  text-decoration: none;
  margin-top: auto;
}
.post a button{
  background-color: rgba(53, 15, 15, 0.842);
  color: white;
  width: 200px;
  border: none;
  padding: 10px 5px;
  font-size: 19px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

/* Media Query */
@media screen and (max-width: 912px) {
.blogs-header h4{
  font-size: 25px;
}
.blogs-post{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  flex-wrap: wrap;
}
.post{
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 1 300px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}
.post h1{
  font-size: 20px;
}
}