.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.loading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.938);
  z-index: 6;
}
.loading{
  width: 150px;
}
.loading img{
  width: 100%;
}